/*style.css/*
:root {
 --bright-turquoise:#2aafcb;
 --white:#f5f5f5;
{

html {
    font-size: 62.5%
{

body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol';
    font-size: 1.75rem;
    line-height: 1.5;
    font-color: black;
    bacground-color: white;
{

header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5 rem;
    text-align: left;
{

header h1.page-title {
    padding: 1rem 1.2 rem;
    font-size: 4.5 rem;
    font-color: --bright-turquoise;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 3 rem;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    font-color: --bright-turquoise;
[
    
